@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

@layer base {
  @font-face {
    font-family: 'BDOGrotesk';
    src: url(/assets/fonts/BDOGrotesk-Regular.woff2) format('woff2');
  }
  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }
}

@theme {
  --font-sans: 'Outfit';
  --font-BDOGrotesk: 'BDOGrotesk';
  --font-DynaPuff: 'DynaPuff';
}